<main class="main">
  <section class="hero">
    <div class="hero--content">
      <h1 class="hero--title">HASTA UN 50% DE DESCUENTO</h1>
      <h2 class="hero--subtitle">
        Ya están aquí las ofertas de fin de temporada
      </h2>
      <a class="hero--buttom" href="https://adalab.es/">
        <img
          class="hero--buttom__scroll"
          src="./assets/images/ico-scroll-down.svg"
          alt="scroll down"
        />
      </a>
    </div>
  </section>
  <section class="section1">
    <p class="section1--small">Los sentimientos nos inspiran</p>
    <h2 class="section1--title">Conecta Contigo</h2>
    <p class="section1--description">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a
      la plena consciencia que también nos hacen sentir.
    </p>
    <div class="section1--button">
      <a class="section1--button__link" href="https://adalab.es/">Comprar</a>
    </div>
  </section>
  <section class="section2">
    <h2 class="section2--title">Año nuevo, movimientos nuevos</h2>
    <article class="section2--articles">
      <article class="article">
        <h2 class="article--title">Entrenamientos</h2>
        <p class="article--description">Sesiones de running y entrenamientos</p>
      </article>
      <article class="article">
        <h2 class="article--title">Cualquier nivel</h2>
        <p class="article--description">Entrenamientos para cada nivel</p>
      </article>
      <article class="article">
        <h2 class="article--title">Exclusividad</h2>
        <p class="article--description">Productos para miembros premium</p>
      </article>
    </article>
    <div class="section2--container">
      <div class="button">
        <a class="button--link" href="https://adalab.es/">Empezar ahora</a>
      </div>
    </div>
  </section>
</main>
