<main class="main">
  <section class="hero">
    <div class="hero--content">
      <h1 class="hero--title">HASTA UN 50% DE DESCUENTO</h1>
      <h2 class="hero--subtitle">
        Ya están aquí las ofertas de fin de temporada
      </h2>
      <a class="hero--buttom" href="#">
        <img
          class="hero--buttom__scroll"
          src="./assets/images/ico-scroll-down.svg"
          alt="scroll down"
        />
      </a>
    </div>
  </section>
  <section class="section1">
    <p class="section1--small"><small>Los sentimientos nos inspiran</small></p>
    <h2 class="section1--title">Conecta Contigo</h2>
    <p class="section1--description">
      Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
      la libertad de ser. Rendimos homenaje al hermoso caos del moviniento y a
      la plena consciencia que también nos hace sentir
    </p>
    <div class="section1--button">
      <a class="section1--button__link" href="#">Comprar</a>
    </div>
  </section>
</main>
