<section class="section1">
  <p class="section1--small">Los sentimientos nos inspiran</p>
  <h2 class="section1--title">Conecta contigo</h2>
  <p class="section1--description">
    Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
    la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la
    plena consciencia que también nos hacen sentir.
  </p>
  <div class="section1--button">
    <a class="section1--button__link" href="https://adalab.es/">Comprar</a>
  </div>
</section>
