<section class="section2">
  <h2 id="section2" class="section2--title">Año nuevo, movimientos nuevos</h2>
  <!-- <article class="section2--articles"> -->
  <article class="section2--article article__one">
    <h2 class="section2--article__title">Entrenamientos</h2>
    <p class="section2--article__description">
      Sesiones de running y entrenamientos.
    </p>
  </article>
  <article class="section2--article article__two">
    <h2 class="section2--article__title">Cualquier nivel</h2>
    <p class="section2--article__description">
      Entrenamientos para cada nivel.
    </p>
  </article>
  <article class="section2--article article__three">
    <h2 class="section2--article__title">Exclusividad</h2>
    <p class="section2--article__description">
      Productos para miembros premium.
    </p>
  </article>
  <div class="section2--button">
    <a
      class="section2--button__link"
      href="https://adalab.es/"
      title="Haz click para ir a Adalab"
      >Empezar ahora</a
    >
  </div>
</section>
