// Esta es la variable que usaremos como tamaño por defecto
$defaultFontSize: 16;

// Estos son los tamaños para las media-queries

$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// fonts
// $font-main: 'Roboto', sans-serif;
$robotoSlab_bold_30: 700 30px "Roboto", sans-serif;
$robotoSlab_bold_24: 700 24px "Roboto", sans-serif;
$robotoSlab_bold_20: 700 20px "Roboto", sans-serif;
$roboto_medium_20: 500 20px "Roboto", sans-serif;
$roboto_regular_18: 400 18px "Roboto", sans-serif;
$roboto_regular_16: 400 16px "Roboto", sans-serif;
$roboto_regular_14: 400 14px "Roboto", sans-serif;

// colors
$color_white: #ffffff;
$color_black: #000000;
$color_greyish_brown: #4a4a4a;
$color_white_two: #f2f2f2;
$color_red: #f26002;
// $color-text: #000;
// $color-title: #000;
// $color-background: #999;
