.footer {
  background-color: $color_greyish-brown;
  padding: 0 108px 36px 108px;
  color: $color_white;

  &--buttom {
    transform: translateY(-25px);
    margin: auto;
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color_white;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    //animation
    animation-name: changeColor, moveButton;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-play-state: running;

    &:hover {
      animation-play-state: paused;
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: start;
      gap: 100px;
    }
    @media (min-width: 1200px) {
      gap: 100px;
    }

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      @media (min-width: 768px) {
        align-items: start;
        justify-content: center;
      }
    }
    &__link {
      text-decoration: none;
      color: $color_white;
      font: $roboto_regular_16;
      line-height: 1.88;
    }
  }

  &--foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
      order: -1;
      align-items: start;
      justify-content: center;
    }
    &__content {
      font: $roboto_regular_14;
      line-height: 2.14;
    }
    &__icon {
      color: $color_red;
    }
  }
}
