.hero {
  &--content {
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--title {
    padding-top: 400px;
    text-align: center;
    font: $robotoSlab_bold_30;
    color: $color_white;
    line-height: 1.67;
  }
  &--subtitle {
    text-align: center;
    font: $roboto_regular_16;
    color: $color_white;
    padding-bottom: 20px;
  }
  &--buttom {
    border-radius: 22.5px;
    background-color: $color_white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color_white;
    padding: 14.3px 10.1px 12.2px 11px;
  }
  &__scroll {
    width: 18px;
    height: 1opx;
    color: $color_red;
  }
}
