.hero {
  &--content {
    background-image: url("../images/cover.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 60%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &--title {
    padding-top: 150px;
    text-align: center;
    font: $robotoSlab_bold_30;
    color: $color_white;
  }
  &--subtitle {
    text-align: center;
    font: $roboto_regular_16;
    color: $color_white;
    padding-bottom: 20px;
  }
  &--buttom {
    border-radius: 22.5px;
    background-color: $color_white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: $color_white;
    width: 3.79rem;
    height: 3.57rem;
    transform: rotate(0.234);
  }
  &__scroll {
    width: 1.8rem;
    height: 1rem;
    color: $color_red;
  }
}
