.section2 {
  padding: 29px 15px 39px 15px;
  background-color: $color_white_two;
  display: grid;
  grid-template-rows: 0.8fr 1fr 1fr 1fr 0.4fr;
  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.6fr 1fr 0.6fr;
    justify-content: center;
    padding-top: 45px;
  }
  @media (min-width: 1200px) {
    grid-template-rows: 1fr 1fr 1fr;
  }
  &--title {
    font: $robotoSlab_bold_20;
    line-height: 1.5;
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;

    @media (min-width: 768px) {
      font: $robotoSlab_bold_28;
      grid-column: span 3;
      grid-row: 1;
    }
    @media (min-width: 1200px) {
      font: $robotoSlab_bold_32;
    }
  }
  &--article {
    padding-left: 62px;
    padding-right: 62px;
    padding-bottom: 41px;
    @media (min-width: 768px) {
      padding-left: 33px;
      padding-right: 33px;
      padding-bottom: 41px;
    }
    .article__one {
      @media (min-width: 768px) {
        //formatGrid($column,$row)
        @include formatGrid(1, 2);
      }
    }
    .article__two {
      @media (min-width: 768px) {
        @include formatGrid(2, 2);
      }
    }
    .article__three {
      @media (min-width: 768px) {
        @include formatGrid(3, 2);
      }
    }
    &__title {
      font: $robotoSlab_bold_18;
      line-height: 1.67;
      text-align: center;
      @media (min-width: 768px) {
        font: $robotoSlab_bold_24;
      }
    }
    &__description {
      font: $roboto_regular_18;
      color: $color_black;
      line-height: 1.67;
      text-align: center;
      @media (min-width: 768px) {
        font: $roboto_regular_20;
        padding-top: 10px;
      }
      @media (min-width: 1200px) {
        padding-top: 20px;
      }
    }
  }
  &--button {
    border-radius: 40px;
    background-color: $color_red;
    padding: 10px 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    @media (min-width: 768px) {
      grid-column: 2;
      grid-row: 3;
    }
    &__link {
      font: $roboto_medium_20;
      color: $color_white;
      text-align: center;
      text-decoration: none;
    }
  }
}
