.section1 {
  padding-left: 21px;
  padding-right: 12px;
  padding-top: 34px;
  padding-bottom: 45px;
  @media (min-width: 768px) {
    padding: 34px 30px 45px 30px;
  }
  @media (min-width: 1200px) {
    padding-left: 275px;
    padding-right: 136px;
  }
  &--small {
    font: $roboto_regular_14;
    color: $color_red;
    line-height: 2.14;

    @media (min-width: 768px) {
      font: $roboto_regular_16;
      padding-bottom: 10px;
    }
  }

  &--title {
    font: $robotoSlab_bold_24;
    line-height: 1.25;
    text-transform: capitalize;
    @media (min-width: 768px) {
      font: $robotoSlab_bold_32;
    }
  }
  &--description {
    font: $roboto_regular_18;
    color: $color_greyish_brown;
    line-height: 1.67;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 11px;
    @media (min-width: 768px) {
      font: $roboto_regular_20;
      padding-bottom: 30px;
    }
  }
  &--button {
    display: inline-block;
    border-radius: 40px;
    border: solid 2px $color_red;
    padding: 8px 40px;

    &__link {
      font: $roboto_medium_20;
      color: $color_red;
      text-decoration: none;
    }
    //TRANSFORN AND TRANSITION
    &:hover {
      transition: transform 3s;
      transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transform: translateX(400px);
    }
  }
}
