.section1 {
  padding-left: 21px;
  padding-right: 12px;
  padding-top: 34px;
  padding-bottom: 39px;

  &--small {
    font: $roboto_regular_14;
    color: $color_red;
    line-height: 2.14;
  }

  &--title {
    font: $robotoSlab_bold_24;
    line-height: 1.25;
  }
  &--description {
    font: $roboto_regular_18;
    color: $color_greyish_brown;
    line-height: 1.67;
    text-align: left;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  &--button {
    display: inline-block;
    border-radius: 40px;
    border: solid 2px $color_red;
    padding: 10px 50px;

    &__link {
      font: $roboto_medium_20;
      color: $color_red;
      text-decoration: none;
    }
  }
}
